body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.background {
  background: url('./images/background2.jpg') #2f00ffc0;
  background-blend-mode: darken;
  background-attachment: fixed;
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.header {
  padding: 20px 15% 50px 15%;
}

.header-text {
  margin: 0;
  font-size: 100px;
  color: #fff;
}

.header-sub-text {
  line-height: 1rem;
  margin: 0;
  font-size: 40px;
  color: #fff;
}

.search {
  display: flex;
  justify-content: center;
  background: #ffffffcc;
  padding: 20px;
}

.search-field {
  width: 500px;
}

.guide-list {
  background: #ffffff66;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  min-height: 100vh;
}

.guide-list-paginate {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.guide {
  display: flex;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 16px;
  width: 80%;
  background: #ffffffdd;
  min-height: 80px;
}

.guide-section-left {
  display: flex;
  border-right: 1px solid #ccc;
}

.guide-section-right {
  margin-left: 10px;
}

.guide-thumbnail {
  align-self: flex-start;
  width: 80px;
  margin-right: 10px;
}

.guide-headline-icon {
  margin-right: 5px;
}

.guide-headline {
  display: flex;
  align-items: center;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.guide-summary {
  font-weight: 200;
}

.guide-author {
  font-size: 0.8rem;
  color: #888;
}
